@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8910 SW 56 St<br />
    Miami FL, 33165<br />
    305.588.6064
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:cmest005@gmail.com">cmest005@gmail.com</a><br />
    
</address>