@{
    ViewBag.Title = "Home Page";
}
<img src="~/images/GreenwayLogo.png" width="30%" height="30%" /> <br /><br />
<div class="jumbotron">
    
    <h2>About Us</h2> 
    <p>
        Improving health is at the heart of Greenway Health’s work. We connect providers to the right information and insights, at the right place and time, so they can make patient-driven care a reality while navigating the ever-changing healthcare system.

        Greenway is focused on exceptional service, delivered by a broad team of clinical, financial and technology experts dedicated to innovations that keep people healthier and happier. Comprising 10 percent of the ambulatory HIT market, we partner with over 10,000 organizations and 75,000 progressive providers across more than 40 specialties, which translates into more than 100 million lives that are touched by our solutions.

        All of Greenway Health’s solutions and services are designed to meet our companywide goals of serving physicians, connecting the industry and empowering better care. Whether as a customer, strategic partner or staff member, we invite you to partner with us to create a smarter healthcare system.
    </p>
    <p><a href="https://www.greenwayhealth.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Who You Are</h3>
        <p>
            <h4>Putting patients first while maintaining your unique style</h4>
    Every healthcare provider has a unique set of values and skills that influences which type of practice is best for them. Regardless of your specialty or the size of your practice, we strive to understand your challenges, listen to your needs and help you unlock the technology, resources and insight you need to care best for your patients … and your practice.
</p>
        <p><a class="btn btn-default" href="https://www.greenwayhealth.com/practice/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Who You Serve</h3>
        <p>
            <h4>Quality care is customized care</h4>
            You’re dedicated to providing your patients skilled and compassionate care, knowing that excellent medical care is based on relationships and treatment options customized to individual patient needs and preferences. Whether your patients include entire families, women, children, the low-income and uninsured, or other patient populations, we know you provide care based on the best available standardized medical knowledge — especially when it comes to treating those with costly chronic diseases.
        </p>
        <p><a class="btn btn-default" href="https://www.greenwayhealth.com/patient/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Our Solutions</h3>
        <p>
            <h4>Technology, people and processes to support clinical excellence and financial success</h4>
            Healthcare providers’ clinical, financial and administrative operations are interconnected — high performance in one area often opens the door to improved performance in others. With technology and services that seamlessly span the front office, clinic and billing office, plus advanced patient engagement and analytics tools, Greenway Health™ supports clinicians and staff in delivering exceptional care and achieving business goals.
        </p>
        <p><a class="btn btn-default" href="https://www.greenwayhealth.com/solution/">Learn more &raquo;</a></p>
    </div>
</div>